<a href="https://colab.research.google.com/github/Ali-Abdelmonim/Teaching/blob/master/Programming%20Language/lab10_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

What is the iteration variable in the following Python code:


>``` 
t = 0 
for i in [1, 2, 3, 4, 5] :
    t = t + 1
print(t)
```

>*   t
*    i
*    for
*    in

What will the following code print out?


>``` 
t = 0 
for i in [1, 2, 3, 4, 5] :
    t = t + 1
print(t)
```

>*   0
*    5
*    15
*    10

What is the iteration variable in the following Python code:


>``` 
t = 0 
for i in [1, 2, 3, 4, 5] :
    t = t + i
print(t)
```

>*   0
*    5
*    15
*    10

How many times will the body of the following loop be executed?


>``` 
n = 0
while n > 0 :
    print('Hello')
print('Done')
```

>*   0
*    5
*    1
*    This is an infinite loop

How many times will the body of the following loop be executed?


>``` 
n = 5
while n > 0 :
    print(n)
print('Done')
```

>*   0
*    5
*    1
*    This is an infinite loop

How many times will the body of the following loop be executed?


>``` 
n = 5
while n > 0 :
    print(n)
print('Done')
```

>*   0
*    5
*    1
*    This is an infinite loop

# String

What will the following Python code print out?


>``` 
str1 = "Hello"
str2 = "World"
s = str1+str2
print(s) 
```

>*    Hello World
*    HelloWorld
*    Hello\n World
*    10

What will the following Python code print out?


>``` 
word = 'Camal'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)
```




>*    0
*     1
*     2
*     3

What will the following Python code print out?


>``` 
str = "Stay home"          
print(len(str))
```

>*    Stay home
*     str
*     8
*     9

What will the following Python code print out?


>``` 
str = " "          
print(len(str))
```

>*    0
*     str
*     1

What will the following Python code print out?


>``` 
a = '13'
b = int(x) + 3
print(y)
```

>*    133
*     16
*     int133
*     a3

What will the following Python code print out?


>``` 
print(len('Hi!')+2)
```

>*    Hi!2
*     5
*     4
*     Hi!Hi!

Which of the following slicing operation will produce `d`?


>``` 
str = "World"
```

>*    `str[len(str)]`
*     `str[5]`
*      `str[-1]`

How would you use the index operator [] to print out the letter `e` from the following string?



>``` 
mail = abc@msa.edu.eg
```

>*    `print(mail[9])`
*     `print(mail[8])`
*     `print(mail[7])`
*     `print(mail[e])`

How would you use string slicing [:] to print out 'msa' from the following string?



>``` 
mail = abc@msa.edu.eg
```

>*    `print(mail[5:7])`
*     `print(mail[7:5])`
*     `print(mail[5:8])`
*     `print(mail[4:7])`
*     `print(mail[4:8])`

Which of the following slicing operation will produce the string `abc`?



>``` 
mail = abc@msa.edu.eg
```

>*    `print(mail[1:3])`
*     `print(mail[:3])`
*     `print(mail[0:2])`

What will the following Python code print out?


>``` 
mail = 'ahelkassas@msa.eun.eg'
pos = mail.find('@')
print(data[pos:pos+3])
```

>*    s@ms
*     @ms
*     @msa
*     msa

What will the following Python code print out?


>``` 
'search'.find('S') 
```

>*    0
*     S
*    -1
*    -6

What will the following Python code print out?


>``` 
word = 'banana'
index = word.find('n')
print(index)
```

>*    [3, 5]
*     [2, 4]
*     2
*     ValueError

What will the following Python code print out?


>``` 
word = 'banana'
index = word.index('n')
print(index)
```

>*    [3, 5]
*     [2, 4]
*     2
*     ValueError

What will the following Python code print out?


>``` 
word = 'banana'
index = word.find('c')
print(index)
```

>*    [3, 5]
*     [2, 4]
*     2
*     ValueError
*     -1

What will the following Python code print out?


>``` 
word = 'banana'
index = word.index('n')
print(index)
```

>*    [3, 5]
*     [2, 4]
*     2
*     ValueError
*     -1

What will the following Python code print out?


>``` 
str="Stay home, Stay save"
str.find("Stay")
```

>*    [0, 3]
*     [11, 14]
*     2
*     0

What will the following code print out?


>``` 
str="Stay home, Stay save"
str.replace('a', 'A')
```

>*    StAy home, Stay save
*     StAy home, StAy save
*     StAy home, StAy sAve

# Files

# Lists

What will the following Python code print out?


>``` 
ls = [10, 20, 30]           
print(len(ls))
```

What will the following Python code print out?


>``` 
ls = []           
print(len(ls))
```

What will the following Python code print out?


>``` 
ls = ['CSB', 2.3, 5, [10, 20]]           
print(len(ls))
```

>*    ['CSB', 2.3, 5, [10, 20]]
*    6
*    5
*    4

For the following list, How would you print out "Samy"?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
```



>*   `print(friends['samy'])`
*    `print(friends['Samy'])`
*    `print(friends[2])`
*    `print(friends[1])`

For the following list, How would you print out "Hana"?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
```



>*   `print(friends['hana'])`
*    `print(friends['Hana'])`
*    `print(friends[-1])`
*    `print(friends[1])`

What will the following Python code print out?


>``` 
numbers = [7, 77, 777]
numbers[1] = 5
print(numbers)
```

>*   [7, 77, 777]
*    [5, 77, 777]
*    [7, 5, 777]

What will the following Python code print out?


>``` 
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(len(c))
```

>*   [1, 2, 3, 4, 5, 6]
*    5
*    6
*   21

What will the following Python code print out?


>``` 
a = [1, 2]
b = a*3
print(b)
```

>*   [3, 6]
*    9
*    [1, 2, 3]
*   [1, 2, 1, 2, 1, 2]

What will the following Python code print out?


>``` 
t1 = [3, 12, 23]
t2 = [17, 27]
t1.append(t2)
print(t1)
```

>*   [17, 27]
*    [3, 12, 23]
*    [3, 12, 23, 17, 27]
*   [3, 12, 23, [17, 27]]

What will the following Python code print out?


>``` 
t1 = [3, 12, 23]
t2 = [17, 27]
t1.extend(t2)
print(t1)
```

>*   [17, 27]
*    [3, 12, 23]
*    [3, 12, 23, 17, 27]
*   [3, 12, 23, [17, 27]]

Which of the following slicing operation will produce the list`['d', 'e']`?

>``` 
t = ['a', 'b', 'c', 'd', 'e', 'f']
```

>*   `t['d', 'e']`
*    `t[4:6]`
*    `t[4:5]`
*    `t[3:5]`
*    `t[:]`

Which of the following slicing operation will produce the list`['a', 'b', 'c', 'd', 'e', 'f']`?

>``` 
t = ['a', 'b', 'c', 'd', 'e', 'f']
```

>*   `t['a', 'b', 'c', 'd', 'e', 'f']`
*    `t[1:6]`
*    `t[0:6]`
*    `t[1:7]`
*    `t[:]`

Which list method adds a new item to the end of an existing list?



>*   `index()`
*   `add()`
*   `append()`
*   `pop()`

What will the following Python code print out?


>``` 
friends = ["Mohamed", "Samy", "Hana"]
friends.sort()
print(friends[0])
```



>*   friends
*    Hana
*    Samy
*    Mohamed

What will the following Python code print out?


>``` 
t = ['a', 'b', 'c']
t.pop()
print(t)
```



>*   `['a', 'b', 'c']`
*    `['b', 'c']`
*    `['a', 'b']`
*    `['a', 'c']`

What will the following Python code print out?


>``` 
t = ['a', 'b', 'c']
t.pop(1)
print(t)
```



>*   `['a', 'b', 'c']`
*    `['b', 'c']`
*    `['a', 'b']`
*    `['a', 'c']`

For the following list, How would you delete `'b'` ?
>```
t = ['a', 'b', 'c']`?
```


>*   `t.del('b')`
*    `t.remove('b')`
*    `t.pop('b')`

What will the following Python code print out?


>``` 
friends = ['Salah', 'Jana', 'Salah', 'Ahmed']
friends.remove('Salah')
print(friends)
```



>*   `['Salah', 'Jana', 'Salah', 'Ahmed']`
*    `['Jana', 'Ahmed']`
*    `['Salah', 'Jana', 'Ahmed']`
*    `['Jana', 'Salah', 'Ahmed']`