<a href="https://colab.research.google.com/github/Ali-Abdelmonim/Teaching/blob/master/Programming%20Language/lab7_String2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### String Slices

A segment of a string is called a slice. Selecting a slice is similar to selecting a character:

In [1]:
s = 'Hello World'
print(s[0:5])

Hello

In [4]:
print(s[6:11])

World

The operator returns the part of the string from the "n-eth" character to the "m-eth" character, including the first but excluding the last.

If you omit the first index (before the colon), the slice starts at the beginning of the string. If you omit the second index, the slice goes to the end of the string:

In [6]:
fruit = 'banana'
fruit[:3]

'ban'

In [7]:
fruit[3:]

'ana'

### String Methods

Many basic string manipulation tasks can be handled with built-in methods.

For example, the method `upper` takes a string and returns a new string with all uppercase letters:

In [15]:
word = 'banana'
word.upper()

'BANANA'

There is a string method named `find` that searches for the position of one string within another:

In this example, we invoke `find` on `word` and pass the letter we are looking for as a parameter.

In [9]:
word = 'banana'
index = word.find('a')
print(index)

1

> Note that indexes are numbered from left to right and that the count starts with `position 0`, not 1.


The find method can find substrings as well as characters:

In [10]:
word.find('na')

2

It can take as a second argument the index where it should start:

In [12]:
word.find('na', 3)

4

If the character or substring is not found, it will return -1.

In [13]:
word.find('z')

-1

One common task is to remove white space (spaces, tabs, or newlines) from the beginning and end of a string using the strip method:

In [8]:
line = '  Here we go  '
line.strip()

'Here we go'

To Do:
* count
* split
* index

### Exercises

Exercise 1: 	Write a program that accept a DNA sequences from the user, convert it to uppercase, and count the number of A,C,G , and T nucleotides

Exercise 2: 	Write a program that accept a string of characters and then print each 5 characters in a separate line.