<a href="https://colab.research.google.com/github/Ali-Abdelmonim/Teaching/blob/master/Programming%20Language/lab9_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### A list is a sequence

Like a string, a *list* is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called *elements* or sometimes *items*.

There are several ways to create a new list; the simplest is to enclose the elements in square brackets (`[` and `]`):

In [0]:
[10, 20, 30, 40]
['crunchy frog', 'ram bladder', 'lark vomit']

The first example is a list of four integers. The second is a list of three strings. The elements of a list don't have to be the same type. The following list contains a string, a float, an integer, and (lo!) another list:

In [0]:
['spam', 2.0, 5, [10, 20]]

A list within another list is nested.

A list that contains no elements is called an empty list; you can create one with empty brackets, `[]`.

As you might expect, you can assign list values to variables:

In [0]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

### Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string: the bracket operator. The expression inside the brackets specifies the index. Remember that the indices start at 0:

In [0]:
print(cheeses[0])

Cheddar

Unlike strings, lists are mutable because you can change the order of items in a list or reassign an item in a list. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [0]:
numbers = [17, 123]
numbers[1] = 5

print(numbers)

[17, 5]

The one-eth element of `numbers`, which used to be 123, is now 5.

You can think of a list as a relationship between indices and elements. This relationship is called a mapping; each index "maps to" one of the elements.

List indices work the same way as string indices:

- Any integer expression can be used as an index.

- If you try to read or write an element that does not exist, you get an IndexError.

- If an index has a negative value, it counts backward from the end of the list.

The `in` operator also works on lists.

In [0]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [0]:
'Brie' in cheeses

False

### Traversing a List

The most common way to traverse the elements of a list is with a `for` loop. The syntax is the same as for strings:

In [0]:
cheeses = ['feta','gorgonzola','brie','mozzarella']

for cheese in cheeses:
    print(cheese)

feta
gorgonzola
brie
mozzarella

This works well if you only need to read the elements of the list. But if you want to write or update the elements, you need the indices. A common way to do that is to combine the functions `range` and `len`:

In [0]:
numbers = [96, 23, 40, 76, 7]

for i in range(len(numbers)):  # len(numbers)=5 -> range(5) = [0, 1, 2, 3, 4]
    numbers[i] = numbers[i] * 2
    print(numbers[i])

192
46
80
152
14

This loop traverses the list and updates each element. `len` returns the number of elements in the list. `range` returns a list of indices from 0 to n − 1, where n is the length of the list. Each time through the loop, `i` gets the index of the next element. The assignment statement in the body uses `i` to read the old value of the element and to assign the new value.

A `for` loop over an empty list never executes the body:

In [0]:
empty = []
for x in empty:
    print('This never happens.')

Although a list can contain another list, the nested list still counts as a single element. The length of this list is four:

['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

### List operations

The `+` operator concatenates lists (just like `+` with strings):

In [0]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

Similarly, the `*` operator repeats a list a given number of times:

In [0]:
[0] * 4

[0, 0, 0, 0]

In [0]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

The first example repeats four times. The second example repeats the list three times.

###  List Slices

The slice operator also works on lists:

In [0]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [0]:
t[:4]

['a', 'b', 'c', 'd']

In [0]:
t[3:]

['d', 'e', 'f']

If you omit the first index, the slice starts at the beginning. If you omit the second, the slice goes to the end. So if you omit both, the slice is a copy of the whole list.

In [0]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

Since lists are mutable, it is often useful to make a copy before performing operations that fold, spindle, or mutilate lists.

A slice operator on the left side of an assignment can update multiple elements:

In [0]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

### List Methods

Python provides methods that operate on lists. For example, `append` adds a new element to the end of a list:

In [0]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

`extend` takes a list as an argument and appends all of the elements:

In [0]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

If you use `append` instead to add list's elements, It will be added as a single elements:

In [0]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.append(t2)
print(t1)

['a', 'b', 'c', ['d', 'e']]

if you want to add a new element at a spesefic position(*index*), you can use `insert`:

In [1]:
nums = [1, 3, 4, 5, 6, 7]
nums.insert(1, 2) #(position= 1, value= 2) ->  insert 2 at index 1 
print(nums)

[1, 2, 3, 4, 5, 6, 7]

inserts the element at the given index, and shifting elements to the right.


`sort` arranges list of strings in alphabetical order:

In [0]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

And arranges list of numbers in ascending order:

In [2]:
t = [192, 46, 80, 152, 14]
t.sort()
print(t)

[14, 46, 80, 152, 192]

To sort the list in descending order:

In [3]:
t = [192, 46, 80, 152, 14]
t.sort(reverse=True)
print(t)

[192, 152, 80, 46, 14]

Note that the above methods do not *return* the modified list, they just modify the original list.

Common Error:

In [14]:
ls = [1, 2, 3]
print (ls.append(4))

None

The correct pattern:

In [15]:
ls = [1, 2, 3]
ls.append(4)
print (ls)

[1, 2, 3, 4]

### Deleting Elements

There are several ways to delete elements from a list. If you know the index of the element you want, you can use `pop`:

In [0]:
t = ['a', 'b', 'c']
t.pop(1)
print(t)

['a', 'c']

`pop` modifies the list and returns the element that was removed. If you don't provide an index, it deletes and returns the last element (roughly the opposite of `append ).

In [5]:
t = ['a', 'b', 'c']
t.pop()  # don't provide position/index 
print(t)

['a', 'b']

If you don't need the removed value, you can use the `del` operator:

In [0]:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

If you know the element you want to remove (but not the index), you can use `remove`:

In [0]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

If the list contains more than one matching, only the first one is deleted.

In [6]:
t = ['a', 'b', 'c', 'b']
t.remove('b')
print(t)

['a', 'c', 'b']

To remove more than one element, you can use `del` with a slice index:

In [0]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

As usual, the slice selects all the elements up to, but not including, the second index.

### Lists and Functions

There are a number of built-in functions that can be used on lists that allow you to quickly look through a list without writing your own loops:

In [0]:
nums = [3, 41, 12, 9, 74, 15]

In [0]:
print(max(nums))

74

In [0]:
print(min(nums))

3

In [0]:
print(sum(nums))

154

The `len` function also works on lists:

In [0]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

And you can calculate the average using `sum` and `len` functions:

In [0]:
print(sum(nums)/len(nums))

25.666666666666668

The length of empty list is zero:

In [0]:
nums=[]
print(len(nums))

0


If the list contains another list, the nested list will be counted as a single element.

In [0]:
nums = [3, 41, 12, 9, [74, 15]]  
print(len(nums))

5

The `sum()` function only works when the list elements are numbers. The other functions (`max()`, `len()`, etc.) work with lists of strings and other types that can be *comparable*.

### Exercises