<a href="https://colab.research.google.com/github/alielkassas/Teaching/blob/master/Python/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

## What Are Sets?

In Python, a **set** is an unordered collection of unique elements. It's like having a bag of distinct items where each item appears only once.

Let's illustrate this with a fun example. Imagine you have a bag of colorful marbles, and each marble has a unique color. This bag represents a set in Python because it contains only unique marbles.

## Creating Sets

You can create sets using curly braces `{}` or the `set()` constructor. Here's how:

In [ ]:
set1 = {1, 2, 3}

In [ ]:
set2 = set([3, 4, 5])

## Basic Set Operations
### Adding Elements
You can add elements to a set using the .add() method. It's like putting a new item into your bag of marbles.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
my_set

{1, 2, 3, 4}

In [ ]:
# .update - Add multiple items
item_set = {'eggs', 'lettuce', 'tomatoes'}
item_set.update(['fish','potatoes'])
item_set

{'eggs', 'fish', 'lettuce', 'potatoes', 'tomatoes'}

### Removing Elements
You can remove elements from a set using .remove() or .discard(). If the element isn't in the set, .remove() will raise an error, while .discard() won't.

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)
my_set

{1, 3}

In [ ]:
my_set.discard(5)
my_set

{1, 3}

### Checking Membership
To check if an element is in a set, use the `in` keyword.

In [ ]:
my_set = {1, 2, 3}
print(2 in my_set)

True

In [ ]:
print(4 in my_set)

False

## Set Methods and Functions

*Sets offer powerful methods for various operations:*

Union, Intersection, and Difference  
- union(): Combines two sets to create a new set with all unique elements.
- intersection(): Creates a new set with elements common to both sets.
- difference(): Produces a new set with elements in the first set but not the second.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

union_set

{1, 2, 3, 4, 5}

## Iterating Over Sets
You can use for loops to iterate through elements in a set:

In [ ]:
my_set = {1, 2, 3}
for item in my_set:
    print(item)

1
2
3

## Set Comprehensions
Python offers set comprehensions for creating sets in a concise way:

In [ ]:
my_set = {x for x in range(10) if x % 2 == 0}
my_set

{0, 2, 4, 6, 8}