<a href="https://colab.research.google.com/github/alielkassas/Teaching/blob/master/Python/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

## Tuples are immutable

A tuple1 is a sequence of values much like a list. The values stored in a tuple can be any type, and they are indexed by integers. The important difference is that tuples are *immutable*. Tuples are also *comparable and hashable* so we can sort lists of them and use tuples as key values in Python dictionaries.

Syntactically, a tuple is a comma-separated list of values:

In [ ]:
t = 'a', 'b', 'c', 'd', 'e'

Although it is not necessary, it is common to enclose tuples in parentheses to help us quickly identify tuples when we look at Python code:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, you have to include the final comma:

In [ ]:
t1 = ('a',)
type(t1)

tuple

Without the comma Python treats `('a')` as an expression with a string in parentheses that evaluates to a string:

In [ ]:
t2 = ('a')
type(t2)

str

Another way to construct a tuple is the built-in function `tuple`. With no argument, it creates an empty tuple:

In [ ]:
t = tuple()
print(t)

()

If the argument is a sequence (string, list, or tuple), the result of the call to `tuple` is a tuple with the elements of the sequence:

In [ ]:
t = tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

Because `tuple` is the name of a constructor, you should avoid using it as a variable name.

Most list operators also work on tuples. The bracket operator indexes an element:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

a

And the slice operator selects a range of elements.

In [ ]:
print(t[1:3])

('b', 'c')

But if you try to modify one of the elements of the tuple, you get an error:

In [ ]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

You canâ€™t modify the elements of a tuple, but you can replace one tuple with another:

In [ ]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

## Comparing tuples
The comparison operators work with tuples and other sequences. Python starts by comparing the first element from each sequence. If they are equal, it goes on to the next element, and so on, until it finds elements that differ. Subsequent elements are not considered (even if they are really big).

In [ ]:
(0, 1, 2) < (0, 3, 4)

True

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

True

## Tuple assignment
One of the unique syntactic features of the Python language is the ability to have a tuple on the left side and a sequence on the right side of an assignment statement. This allows you to assign more than one variable at a time to the given sequence.

In this example we have a two-element list (which is a sequence) and assign the first and second elements of the sequence to the variables x and y in a single statement.

In [ ]:
m = [ 'have', 'fun' ]
x, y = m
x

'have'

In [ ]:
y

'fun'

It is not magic, Python roughly translates the tuple assignment syntax to be the following:

In [ ]:
m = [ 'have', 'fun' ]
x = m[0]
y = m[1]
x

'have'

In [ ]:
y

'fun'

Stylistically when we use a tuple on the left side of the assignment statement, we omit the parentheses, but the following is an equally valid syntax:

In [ ]:
m = [ 'have', 'fun' ]
(x, y) = m
x

'have'

A particularly clever application of tuple assignment allows us to swap the values of two variables in a single statement:

In [ ]:
a, b = b, a

NameError: name 'b' is not defined

Both sides of this statement are tuples, but the left side is a tuple of variables; the right side is a tuple of expressions. Each value on the right side is assigned to its respective variable on the left side. All the expressions on the right side are evaluated before any of the assignments.

The number of variables on the left and the number of values on the right must be the same:

In [ ]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

More generally, the right side can be any kind of sequence (string, list, or tuple). For example, to split an email address into a user name and a domain, you could write:

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

The return value from split is a list with two elements; the first element is assigned to `uname`, the second to `domain`.

In [ ]:
print(uname)

monty

In [ ]:
print(domain)

python.org

## Dictionaries and tuples
Dictionaries have a method called items that returns a list of tuples, where each tuple is a key-value pair:

In [ ]:
d = {'b':1, 'a':10, 'c':22}
t = list(d.items())
print(t)

[('b', 1), ('a', 10), ('c', 22)]

As you should expect from a dictionary, the items are in non-alphabetical order.

However, since the list of tuples is a list, and tuples are comparable, we can now sort the list of tuples. Converting a dictionary to a list of tuples is a way for us to output the contents of a dictionary sorted by key:

In [ ]:
d = {'b':1, 'a':10, 'c':22}
t = list(d.items())
t

[('b', 1), ('a', 10), ('c', 22)]

In [ ]:
t.sort()
t

[('a', 10), ('b', 1), ('c', 22)]

The new list is sorted in ascending alphabetical order by the key value.

## Multiple assignment with dictionaries
Combining `items`, tuple assignment, and `for`, you can see a nice code pattern for traversing the keys and values of a dictionary in a single loop:

In [ ]:
d = {'a':10, 'b':1, 'c':22}
for key, val in list(d.items()):
    print(val, key)

10 a
1 b
22 c

This loop has two iteration variables because `items` returns a list of tuples and `key, val` is a tuple assignment that successively iterates through each of the `key-value` pairs in the dictionary.

For each iteration through the loop, both` key and value` are advanced to the next key-value pair in the dictionary (still in hash order).

Again, it is in hash key order (i.e., no particular order).

If we combine these two techniques, we can print out the contents of a dictionary sorted by the value stored in each key-value pair.

To do this, we first make a list of tuples where each tuple is (value, key). The items method would give us a list of (key, value) tuples, but this time we want to sort by value, not key. Once we have constructed the list with the value-key tuples, it is a simple matter to sort the list in reverse order and print out the new, sorted list.

In [ ]:
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )
l

[(10, 'a'), (1, 'b'), (22, 'c')]

In [ ]:
l.sort(reverse=True)
l

[(22, 'c'), (10, 'a'), (1, 'b')]

## List comprehension

Sometimes you want to create a sequence by using data from another sequence. You can achieve this by writing a for loop and appending one item at a time. For example, if you wanted to convert a list of strings â€“ each string storing digits â€“ into numbers that you can sum up, you would write:

In [ ]:
list_of_ints_in_strings = ['42', '65', '12']
list_of_ints = []
for x in list_of_ints_in_strings:
    list_of_ints.append(int(x))

print(sum(list_of_ints))

119

With list comprehension, the above code can be written in a more compact manner:

In [ ]:
list_of_ints_in_strings = ['42', '65', '12']
list_of_ints = [ int(x) for x in list_of_ints_in_strings ]
print(sum(list_of_ints))

119